.instructor-card {
  background-color: rgba(255, 255, 255, 0.05); /* fondo translúcido estilo startup */
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  text-align: center;
  padding: 16px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  font-family: var(--font);
  color: #fff;
  max-width: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.instructor-card:hover {
  transform: translateY(-5px);
  background-color: rgba(255, 255, 255, 0.1);
}

.instructor-card-image {
  width: 100%;
  height: 150px;
  object-fit: contain;
  margin-bottom: 12px;
  background-color: #fff;
  border-radius: 8px;
}

.instructor-card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* ocupa el espacio vertical disponible */
}

.instructor-card-content h3 {
  margin-bottom: 8px;
  font-size: 1.25rem;
  font-weight: bold;
  color: #ffffff;
}

.instructor-card-content p {
  font-size: 0.95rem;
  color: #d4d4d4;
  margin: 6px 0;
}

.instructor-card-content p strong {
  color: #ffffff;
}

.instructor-card-content button {
  margin-top: auto; /* Empuja el botón al final del bloque */
  background-color: black;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border: 2px solid #fff;
  padding: 8px 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
   width: fit-content;
  align-self: center;
  
}

.instructor-card-content button:hover {
  background-color: #fff;
  color: black;
}