.instructor-card {
  background-color: rgba(255, 255, 255, 0.05); /* fondo translúcido estilo startup */
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  text-align: center;
  padding: 16px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  font-family: var(--font);
  color: #fff;
  max-width: 250px;
  width: 100%;
}

.instructor-card:hover {
  transform: translateY(-5px);
  background-color: rgba(255, 255, 255, 0.1);
}

.instructor-card-image {
  width: 100%;
  height: 150px;
  object-fit: contain;
  margin-bottom: 12px;
  background-color: #fff;
  border-radius: 8px;
}

.instructor-card-content h3 {
  margin-bottom: 8px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
}

.instructor-card-content p {
  font-size: 0.9rem;
  color: #cfcfcf;
  margin: 4px 0;
}

.instructor-card-content button {
  margin-top: 10px;
  background-color: #1890ff;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.instructor-card-content button:hover {
  background-color: #40a9ff;
}
