.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background: #16004a;
  background: linear-gradient(90deg, rgba(22, 0, 74, 1) 0%, rgba(49, 9, 171, 1) 100%);
  z-index: -1;
}
