.navbar__desktop {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 30px 15px;
  height: 100%; /* Ocupará el 100% de la altura de su padre (.sidebar) */
}

.navbar__userItem {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 50px;
  padding-bottom: 24px;
  border-bottom: 2px solid var(--accent);
}

.navbar__list {
  list-style: none;
  padding-inline-start: 0;
  display: flex;
  flex-direction: column;
  height: 100%; /* La lista debe ocupar el 100% de la altura del navbar__desktop */
  width: 100%;
  margin: 0; /* Aseguramos que no haya márgenes extra que puedan causar desbordamiento */
}

.navbar__item {
  margin-bottom: 10px;
}

.navbar__link {
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  padding: 8px 5px;
  width: 100%;
  box-sizing: border-box;
  color: var(--blanco);
}

.navbar__link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

/* Estilos para todos los iconos dentro de los enlaces */
.navbar__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #ffffff;
}

/* Estilos para el texto de los enlaces */
.navbar__text {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  color: inherit;
}

.active {
  background-color: var(--dark);
  border-radius: 10px;
}

/* Estilos específicos para el elemento de "Salir" */
.logout-item {
  margin-top: auto; /* Esto empuja el elemento hacia abajo */
  margin-bottom: 60px; /* Aumenta la distancia del bottom */
  width: 100%;
  cursor: pointer;
}

/* Estilos para el span .logout, que ahora también tiene .navbar__link */
.logout.navbar__link:hover {
  background-color: rgba(255, 0, 20, 0.5);
  border-radius: 10px;
}
