@import './assets/fonts/fonts.css';

:root {
  /* TIPOGRAFÍA */
  --font: 'Montserrat';
  --italic: 'SpaceGrotesk';

  font-family: var(--text);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* COLORES */
  --dark: #0c0a20;
  --violetaDark: #2b1c68;
  --violetaLight: #5932c7;
  --lavandaLight: #d6c4ff;
  --purpura: #7c4cdd;
  --blanco: #fff;
  --violetaDark-rgba: rgba(128, 0, 128, 0.2);
}

body {
  margin: 0;

}
