.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.ant-card {
  width: 100%;
  font-family: var(--font);
  max-width: 800px;
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  background-color: var(--violetaDark-rgba);
  box-shadow: -1px -1px 35px 8px rgba(180, 180, 180, 0.4) !important;
}

.ant-card-head-title {
  font-size: 1.4rem;
  color: var(--blanco);
  font-weight: 300;
  text-align: end;
}

.ant-card-head {
  border-bottom: 1px solid black !important;
}

.ant-form-item-required,
.ant-form-item-label > label {
  font-family: var(--font);
  color: var(--blanco) !important;
  font-weight: 600;
}

.mentorship__btn {
  width: 300px;
  align-self: center;
  padding: 25px 15px;
  margin-top: 20px;
  background-color: var(--blanco);
  /* border: 1px solid white; */
  font-family: var(--font);
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--dark);

  &:hover {
    color: var(--dark) !important;
    background-color: rgba(24, 216, 216, 0.7) !important;
  }
}

.ant-btn.ant-btn-block {
  width: 300px;
  text-align: center;
}

.full-width {
  width: 100%;
}

.error-text {
  color: red;
  font-family: var(--font);
  font-weight: 500;
  margin-top: 1rem;
}
